.map {
  width: 957px;
  height: 530px;
  margin: 0 auto;
  background-image: url("../images/map_desktop@1x.png");
  background-color: $light-grey;
  margin-bottom: 39px;

  @media (min-resolution: 2dppx) {
    background-image: url("../images/map_desktop@2x.png");
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    height: 545px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    height: 250px;
    margin-bottom: 31px;
  }
}
