// Colors

$white: #ffffff;
$black: #000000;
$light-blue: #0ad9c6;
$dark-grey: #1f1f1f;
$border-grey: #c9ccd4;
$dark: #1c1c1c;
$light-grey: #f6f6f6;
$background-grey: #f6f7f9;
$background-dark: #131314;


// Viewports

$tablet-width: 767px;
$desktop-width: 1023px;
